@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>

<p>Unicorn Clinic & Hospital is the most prestigious hospital in Neverland established in 1995. 
    Since then we slowly became the number one in providing health care. Our specialist are best in country. 
    We have plenty of experience with all species. Doesn't matter if you are a human, an elf, a fairy or other creature.
    We will take care of you.</p>
