@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Hook's Street<br />
    Neverland City, NeverLand 99999-0000<br />
    <abbr title="Phone Office">Phone Office:</abbr>
    444-555-111
    <abbr title="Phone Urgent">Phone Urgent:</abbr>
    000-999-111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">supportUnicorns@fairytales.com</a><br />
</address>